# Archivos a ignorar en Git
*.pyc
__pycache__/
.DS_Store
.env
.venv
node_modules/

# Imágenes duplicadas
*.jpg
*.gif
*.bmp

# Archivos de desarrollo
*.py
remove_background.py

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
